@import 'variables';
@import 'mixins';

.form {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
  border: 1px solid grey;
  padding: 1rem;
  margin-top: 50px;
  width: 500px;
}

.form__files {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: small;
}

.form__file {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.form__imageInput::-webkit-file-upload-button {
  display: none;
}

.form__imageInput::file-selector-button {
  display: none;
}

.form__imageLabel {
  background-color: azure;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: $white-hover;
  }
}

.form__fileInput::-webkit-file-upload-button {
  display: none;
}

.form__fileInput::file-selector-button {
  display: none;
}

.form__fileLabel {
  background-color: azure;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: $white-hover;
  }
}

.form__textInput {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
}

.form__btn {
  @include button__send;

  &:hover {
    @include hover;
  }
}

.success {
  color: $green;
  font-size: large;
  margin: 20px auto;
  font-style: italic;
}

.error {
  color: $brown;
  font-size: large;
  margin: 20px auto;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  .form__files {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
