.cart {
  padding: 120px;
}

.header {
  padding-bottom: 20px;
  border-bottom: solid 2px gray;
}

.list {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232122;
  border: solid 1px #232122;
  border-radius: 16px;
  padding: 16px 8px;
}

.cart__empty {
  padding: 40px 0;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .cart {
    padding: 100px 40px;
  }

  .header {
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
  }

  .list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  }

  .form {
    padding: 10px 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    // max-width: 300px;
  }

  .cart__empty {
    padding: 20px 0;
    font-size: 18px;
  }
}
