$white: rgb(240, 255, 255);
$white-hover: rgb(221, 221, 238);
$brown: linear-gradient(90deg, #e52d27 0%, #b31217 100%);
$green: #4caf50;
$gold: darkkhaki;

$background: #0a0a0a;
$foreground: #ededed;
$gray_dark: #1a1a1a;
$gray-light: gray;
$gray-alpha-200: rgba($white, 0.145);
$gray-alpha-100: rgba($white, 0.06);
