@use 'mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
}

.title {
  padding-bottom: 40px;
}

.infoBox {
  overflow-x: auto;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 100%;
}

.table {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.9rem;

  th,
  td {
    border: 1px solid hsl(0, 0%, 20%);
    padding: 0.5rem;
    text-align: left;
  }
}

.exampleLink {
  @include mixins.textLink;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .infoBox {
    padding: 1rem;
  }

  .table {
    min-width: 600px;
    th,
    td {
      padding: 0.2rem;
    }
  }
}
