.nav {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: large;
  font-weight: 700;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
