@use 'variables';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: variables.$white;
  color: #333;
  font-size: large;
  font-weight: 700;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .nav {
    height: 60px;
  }
}
