@use 'variables';
@use 'mixins';

.scroll {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid variables.$gold;
  background: transparent;
  cursor: pointer;
  color: variables.$gold;
  &:hover {
    @include mixins.hover;
  }
}
