@import 'variables';
@import 'mixins';

.scroll {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid $gold;
  background: transparent;
  cursor: pointer;
  color: $gold;
  &:hover {
    @include hover;
  }
}
