@import 'variables';

.menuButton {
  display: none;
  cursor: pointer;
  padding: 0;
}

.left__items {
  display: flex;
  gap: 20px;
  position: relative;
}

.nav__items {
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav__items {
    flex-direction: column;
    background-color: $white;
    gap: 20px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
  }

  .left__items_closed {
    display: none;
  }
}
