.history {
  padding: 120px;
}

.history__header {
  padding-bottom: 20px;
  border-bottom: solid 2px gray;
}

.history__list {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .history {
    padding: 80px 20px;
  }
}
