@use 'variables';

.signin__icon {
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.logout {
  width: 80px;
  &:hover {
    cursor: pointer;
  }
}

.providers__btn {
  color: #fff;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: variables.$green;
  &:hover {
    color: grey;
  }
}

.providers__btn_local {
  background-color: #fff;
  color: gray;
}
