.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 12px;
  width: 100%;
}

.link {
  margin: 0 auto;
  color: beige;
  font-style: italic;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    border: none;
  }
}
